.icon{
    height: 2em;
    width: 2em;
    display: block;
    background-color: var(--color);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    
    &:global(.icon-logo){
        mask-image: url('/icons/logo.png');
    }
    &:global(.icon-logo-after){
        background-color: unset;
        position: relative;
        overflow: visible;
        &::after{
            display: block;
            content: '';
            background-color: var(--color);
            width: 100%;
            height: 100%; 
            inset: 50%;
            translate: -50% -50%;
            mask-size: contain;       
            position: absolute;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-image: url('/icons/logo.png');
        }
    }
    &:global(.icon-menu){
        mask-image: url('/icons/menu.svg');
    }
    &:global(.icon-arrow-right-with-tail){
        mask-image: url('/icons/arrow-right-with-tail.svg');
    }
    &:global(.icon-arrow-up-with-tail){
        mask-image: url('/icons/arrow-up-with-tail.svg');
    }
    &:global(.icon-shield){
        mask-image: url('/icons/shield.svg');
    }
    &:global(.icon-planet-nature){
        mask-image: url('/icons/planet-nature.svg');
        mask-size: 92% 100%;
        translate: 2px 0;
    }
    &:global(.icon-bamboo){
        mask-image: url('/icons/bamboo.svg');
    }
    &:global(.icon-leaf){
        mask-image: url('/icons/leaf.svg');
    }
    &:global(.icon-waves){
        mask-image: url('/icons/waves.svg');
    }
    &:global(.icon-fire){
        mask-image: url('/icons/fire.svg');
    }
    &:global(.icon-arrow-down){
        mask-image: url('/icons/arrow-down.svg');
    }
    &:global(.icon-arrow-left){
        mask-image: url('/icons/arrow-left.svg');
    }
    &:global(.icon-arrow-right){
        mask-image: url('/icons/arrow-right.svg');
    }
    &:global(.icon-arrow-down-2){
        mask-image: url('/icons/arrow-down-2.svg');
    }
    &:global(.icon-close){
        mask-image: url('/icons/close.svg');
    }

}