.customers-reviews{
    display: flex;    
    flex-direction: column;
    gap: 13px;

    img{
        width: 42px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        border: solid 3px var(--color-white);
    }

    img:not(:first-child) {
        margin-left: -12px;
    }

    span{
        font-size: 1.0em;
        opacity: .6;
    }

    :global(.customer-images-wrapper){
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            opacity: 1;
            margin-left: .6em;
        }
    }

}