@use '../../../styles/breakpoints' as *;

.nav-section {

    --vertical-dist: 13px;
    --lateral-dist: 15px;

    --padding-vertical: 10px;
    --height: 0px;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    font-size: 3.6rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
    transition: opacity var(--animation-speed-fast) ease-in-out;
    opacity: 0;
    padding-top: 50px;
    padding-left: 24px;
    pointer-events: none;


    &:global(.open) {
        pointer-events: all;
        opacity: 1;
        transition: opacity var(--animation-speed-fast) var(--animation-speed-fast) ease-in-out;
    }

    :global(.product-label) {
        display: none;
    }

    :global(.product-wrapper) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    a,
    :global(.product-wrapper)>a,
    :global(.product-label) {
        color: var(--color-white);
        opacity: .4;
        font-weight: 600;
        font-family: var(--font-light);
        cursor: pointer;

        &:global(.active) {
            opacity: 1;
        }

    }

    :global(.extra-sites) {
        a {
            opacity: 1;
        }

        position: absolute;
        bottom: 6rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: 2.3rem;
    }

    @media screen and (width > $md) {
        opacity: 1;
        grid-column: 2;
        grid-row: 1;
        padding: unset;
        flex-direction: row;
        gap: 32px;
        pointer-events: all;
        align-items: center;
        justify-content: center;

        :global(.product-item) {
            width: min-content;
            position: relative;
           


            :global(.product-label) {
                display: flex;
                gap: 4px;

                i {
                    translate: 0 6px;
                    font-size: .7rem;
                }


            }

            &:hover {

                :global(.product-label) {
                    opacity: 1;
                }

                :global(.product-wrapper) {
                    display: flex;
                    opacity: 1;
                    gap: 0;
                    padding-top: 1rem;

                    a {
                        padding: 1.5rem 2rem 1.5rem 2rem;
                        background-color: var(--color-black-alpha-50);
                        opacity: 1;

                        &:hover {
                            background-color: var(--color-black-alpha-30);
                        }

                        &:first-child {
                            border-top-left-radius: var(--border-radius-sm);
                            border-top-right-radius: var(--border-radius-sm);
                            padding-bottom: .7rem;
                        }

                        &:last-child {
                            border-bottom-left-radius: var(--border-radius-sm);
                            border-bottom-right-radius: var(--border-radius-sm);
                            padding-top: .7rem;
                        }
                    }
                }
            }

            :global(.product-wrapper) {
                position: absolute;
                opacity: 0;
            }
        }


        a,
        :global(.product-label) {
            font-size: 1.8rem;
            font-weight: 100;
            text-wrap: nowrap;
            transition: opacity var(--animation-speed-fast) ease-in-out;
        }

        a:hover{
            opacity: 1;
        }
    }
}