:root {
  --background: #ffffff;
  --foreground: #171717;
  --black:#121212;
  --black-opacity:#121212b0;
  --yellow:#AB8E4C;
  --yellow-opacity:#ab8f4c9f;
  --white:#FCF6EC;
  --gray:#ADADAD;
  --gray-opacity:rgb(248 247 243 / 22%);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
    /* &::-webkit-scrollbar {
    background-color: #aaaaaa00; 
    }
    &::-webkit-scrollbar-thumb {
     background: var(--yellow);
     width: 1px;
     border-radius: 15px;
     margin-right: 5px;
   } */
  }


body {
  color: var(--foreground);
  background: var(--background);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.blur_bg{
  backdrop-filter: blur(20px);
}