.section1 {
    background-color: blueviolet;
    min-height: 100dvh;
}

.spacer {
    height: 100vh;
}

.scroll-container {
    background-color: var(--white);
    width: 100vw;
    height: 100dvh;
    /* padding: 10px; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 10px;
}

canvas {
    width: calc(100% - 15px) ;
    height: calc(100% - 15px) ;
    filter: brightness(0.7);
    border-radius: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1600px) {
    canvas {
        width: calc(100% - 10px) ;
        height: calc(100% - 10px) ;
    }
}
@media only screen and (max-width: 767px) {
    canvas {
        width: calc(100% - 5px) ;
        height: calc(100% - 5px) ;
    }
}

.text-container {
    position: absolute;
    top:130px;
    left: 4%;
}

.text-container h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: white;
    opacity: 0; /* GSAP controlará la opacidad de todos los elementos */
}

.loader{
    background-color: var(--white);
    opacity: 1;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
}

.homepage_card{
    /* background-image: url("/tv_broken.webp"); */
    background-color: var(--black-opacity);
    
    border-radius: 16px;
    padding: 32px  ;
    max-width: 507px;
    position: absolute;
    right: 30px;
    bottom: 40px;
}

@media only screen and (max-width: 767px) {
.homepage_card{
    max-width: 100%;
    right: 20px;
    bottom: 30px;
}}

.scroll_down{
    position: absolute;
    left: -4.5%;
    bottom: 20%;
    rotate: 270deg;
    border-bottom: solid var(--white) 1px;
    padding: 15px 50px;
    padding-left: 90px;
    
}
.scroll_down p{
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 1600px) {
    .scroll_down{
         left: -6%;
        scale:0.7
    }
}

@media only screen and (max-width: 767px) {
    .scroll_down{
        display: none;
    }
}