
svg.svg_animation {
    position: absolute;
    left: 14%;
    top: 37%;
    scale: 0.85;
}



@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    svg.svg_animation {
        scale: 0.7;
          left: 3%;
    }
}

@media only screen and (max-width: 768px) {
  svg.svg_animation {
    display: none;
}
}

svg .svg-elem-1 {
  stroke-dashoffset: 996.630859375px;
  stroke-dasharray: 996.630859375px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.4s ease 0.1s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.4s ease 0.1s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 318.4949035644531px;
  stroke-dasharray: 318.4949035644531px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s,
                        fill 0.4s ease 0.16s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s,
                fill 0.4s ease 0.16s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 9.27919864654541px;
  stroke-dasharray: 9.27919864654541px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                        fill 0.4s ease 0.22s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                fill 0.4s ease 0.22s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 62.4400520324707px;
  stroke-dasharray: 62.4400520324707px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s,
                        fill 0.4s ease 0.28s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s,
                fill 0.4s ease 0.28s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 9.280096054077148px;
  stroke-dasharray: 9.280096054077148px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s,
                        fill 0.4s ease 0.33999999999999997s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s,
                fill 0.4s ease 0.33999999999999997s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

svg .svg-elem-6 {
  stroke-dashoffset: 9.280220031738281px;
  stroke-dasharray: 9.280220031738281px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                        fill 0.4s ease 0.4s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                fill 0.4s ease 0.4s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
}

svg .svg-elem-7 {
  stroke-dashoffset: 753.1104125976562px;
  stroke-dasharray: 753.1104125976562px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s,
                        fill 0.4s ease 0.45999999999999996s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s,
                fill 0.4s ease 0.45999999999999996s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-8 {
  stroke-dashoffset: 61.7669677734375px;
  stroke-dasharray: 61.7669677734375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s,
                        fill 0.4s ease 0.52s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s,
                fill 0.4s ease 0.52s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-9 {
  stroke-dashoffset: 61.76606369018555px;
  stroke-dasharray: 61.76606369018555px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                        fill 0.4s ease 0.58s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                fill 0.4s ease 0.58s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-10 {
  stroke-dashoffset: 61.764671325683594px;
  stroke-dasharray: 61.764671325683594px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
                        fill 0.4s ease 0.64s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
                fill 0.4s ease 0.64s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-11 {
  stroke-dashoffset: 904.0763549804688px;
  stroke-dasharray: 904.0763549804688px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
                        fill 0.4s ease 0.7s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
                fill 0.4s ease 0.7s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-12 {
  stroke-dashoffset: 137.0606689453125px;
  stroke-dasharray: 137.0606689453125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s,
                        fill 0.4s ease 0.7599999999999999s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s,
                fill 0.4s ease 0.7599999999999999s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-13 {
  stroke-dashoffset: 836.4244384765625px;
  stroke-dasharray: 836.4244384765625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s,
                        fill 0.4s ease 0.82s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s,
                fill 0.4s ease 0.82s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-14 {
  stroke-dashoffset: 38.08769989013672px;
  stroke-dasharray: 38.08769989013672px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s,
                        fill 0.4s ease 0.88s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s,
                fill 0.4s ease 0.88s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-15 {
  stroke-dashoffset: 11.907504081726074px;
  stroke-dasharray: 11.907504081726074px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s,
                        fill 0.4s ease 0.94s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s,
                fill 0.4s ease 0.94s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-16 {
  stroke-dashoffset: 104.7894515991211px;
  stroke-dasharray: 104.7894515991211px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
                        fill 0.4s ease 0.9999999999999999s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
                fill 0.4s ease 0.9999999999999999s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-17 {
  stroke-dashoffset: 47.64216613769531px;
  stroke-dasharray: 47.64216613769531px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
                        fill 0.4s ease 1.06s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
                fill 0.4s ease 1.06s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 0;
  fill: rgb(248, 247, 243);
}

svg .svg-elem-18 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s,
                        fill 0.4s ease 1.12s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s,
                fill 0.4s ease 1.12s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-19 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s,
                        fill 0.4s ease 1.1800000000000002s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s,
                fill 0.4s ease 1.1800000000000002s;
}

svg.active .svg-elem-19 {
  stroke-dashoffset: 0;
  fill: url("#pattern0_20_2");
}

svg .svg-elem-20 {
  stroke-dashoffset: 27.132741228718345px;
  stroke-dasharray: 27.132741228718345px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s,
                        fill 0.4s ease 1.24s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s,
                fill 0.4s ease 1.24s;
}

svg.active .svg-elem-20 {
  stroke-dashoffset: 0;
  fill: rgb(229, 235, 0);
}

svg .svg-elem-21 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s,
                        fill 0.4s ease 1.3s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s,
                fill 0.4s ease 1.3s;
}

svg.active .svg-elem-21 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-22 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s,
                        fill 0.4s ease 1.36s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s,
                fill 0.4s ease 1.36s;
}

svg.active .svg-elem-22 {
  stroke-dashoffset: 0;
  fill: url("#pattern1_20_2");
}

svg .svg-elem-23 {
  stroke-dashoffset: 27.132741228718345px;
  stroke-dasharray: 27.132741228718345px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s,
                        fill 0.4s ease 1.42s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s,
                fill 0.4s ease 1.42s;
}

svg.active .svg-elem-23 {
  stroke-dashoffset: 0;
  fill: rgb(229, 235, 0);
}

svg .svg-elem-24 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s,
                        fill 0.4s ease 1.48s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s,
                fill 0.4s ease 1.48s;
}

svg.active .svg-elem-24 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-25 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s,
                        fill 0.4s ease 1.54s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s,
                fill 0.4s ease 1.54s;
}

svg.active .svg-elem-25 {
  stroke-dashoffset: 0;
  fill: url("#pattern2_20_2");
}

svg .svg-elem-26 {
  stroke-dashoffset: 27.132741228718345px;
  stroke-dasharray: 27.132741228718345px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s,
                        fill 0.4s ease 1.6s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s,
                fill 0.4s ease 1.6s;
}

svg.active .svg-elem-26 {
  stroke-dashoffset: 0;
  fill: rgb(229, 235, 0);
}

svg .svg-elem-27 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s,
                        fill 0.4s ease 1.6600000000000001s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s,
                fill 0.4s ease 1.6600000000000001s;
}

svg.active .svg-elem-27 {
  stroke-dashoffset: 0;
}

svg .svg-elem-28 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s,
                        fill 0.4s ease 1.72s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s,
                fill 0.4s ease 1.72s;
}

svg.active .svg-elem-28 {
  stroke-dashoffset: 0;
}

svg .svg-elem-29 {
  stroke-dashoffset: 108.81415022205297px;
  stroke-dasharray: 108.81415022205297px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s,
                        fill 0.4s ease 1.78s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s,
                fill 0.4s ease 1.78s;
}

svg.active .svg-elem-29 {
  stroke-dashoffset: 0;
}
