html{
    font-size: 62.5%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        display: none;

    }

    
}

body{
    height: 100dvh;
    width: 100dvw;    
    font-size: 1.6rem;
    background-color: var(--color-white);
    font-family: 'AEONIK', sans-serif;

    &::-webkit-scrollbar{
        display: none;

    }

}