$font-path: '/fonts';
$font-name: 'AEONIK';

@font-face {
    font-family: #{$font-name};
    src: url('#{$font-path}/aeoniktrial-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: #{$font-name};
    src: url('#{$font-path}/aeoniktrial-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: #{$font-name};
    src: url('#{$font-path}/#{$font-name}-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: #{$font-name};
    src: url('#{$font-path}/aeoniktrial-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
