.svg-item{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;    
    
    :global(.animated-container):has(svg){
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }

    :global(.video-bg){

        width: 100%;
        height: 100%;
        z-index: 5;
        position: relative;
        
        :global(.videoWrapper){
            position: relative;
            border-radius: inherit;
            overflow: auto;
            pointer-events: all;
            height: 100%;
            width: 100%;
            z-index: 4;

            &:global(.scroll-off){
                overflow: hidden;
            }

            &::-webkit-scrollbar{
                display: none;
            }
    
            :global(.videoSpacer){
     
                background-color: transparent;         
                margin-bottom: -1100px;
            }

            :global(.svgSpacer){
                margin-bottom: -600px;
            }
    
        }

        canvas{
            position: absolute ;
            top: 0px;            
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }

    
    foreignObject{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    :global(.bg-backdrop){
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        pointer-events: none;
        background-color: var(--color-black-alpha-20);
        opacity: 0;
        
    }

    svg{
        position: absolute;
        inset: 50%;        
        translate: -50% -50%;
        width: 1920px;
        height: 1080px;
        z-index: 6;
        pointer-events: none;
        
        g{
            mask-image: radial-gradient(circle at center, black 30%, transparent 120%);
            mask-repeat: no-repeat;
            mask-size: 0% 0%;
            mask-position: center 0%;
        }

    }
    
    :global(.feature-item){
        display: flex;
        position: absolute;
        z-index: 2;
        top: 400px;
        --x: 0;
        --y: 300px;
        left: var(--x);
        top: var(--y);

        :global(.feature-content){
            display: flex;
            align-items: center;
            position: absolute;
            right: 55px;
            top: 50%;
            translate: 0 -50%;
            text-wrap: nowrap;
            gap: 9px;
            color: var(--color-white);           
            opacity: 0;
            transform: translateX(-300px);
            
            span{
                font-weight: 600;
                font-size: 1.8rem;
            }

            i{
                font-size: 1.2rem;
            }
        }

        :global(.point-indicator){
            inset: 0;
            left: 50%;
            height: 50%;
            translate: -50% -50%;
            border-radius: 50%;
            opacity: 0;
            transform: translateY(300px);

            &::after{
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                border-radius: inherit;
                aspect-ratio: 1;
                width: 8px;
                content: '';
                background-color: var(--color-yellow);
            }
            
            &::before{
                will-change: opacity, backdrop-filter;
                content: '';
                position: absolute;
                inset: 0;
                border-radius: inherit;
                width: 34px;
                aspect-ratio: 1;
                z-index: -1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--color-white-alpha-30);
                backdrop-filter: blur(var(--blur-md));
            }
        }
    }

}
