@use '../../../../../shared/styles/breakpoints' as *;

.reviews-view{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 25px;
    display: flex;
    gap: 12px;
    position: relative;
    scroll-snap-type: x mandatory;
    user-select: none;

        &::-webkit-scrollbar{
            display: auto;
            height: 3px;
            background-color: var(--color-white-alpha-25) !important;
        }

        &::-webkit-scrollbar-thumb{
            background-color: var(--color-yellow-2) !important;
        }
    
    
    :global(.review-item){
        scroll-snap-align: start;
        border-radius: var(--border-radius-md);
        width: 100%;
        flex: 1 0 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &:not(:global(.open)){
            :global(.card){
                padding-top: 20px;
                padding-bottom: 12px;
            }
            p {
                max-height: 0px;
                overflow: hidden;
            }
            :global(.button){
                rotate: 180deg;
            }
        }
        
    }

    :global(.card){
        --padding-lateral: 15px;
        position: absolute;
        left: var(--padding-lateral);
        bottom: var(--padding-lateral);
        max-height: min(15.5rem, 30%);
        width: calc(100% - var(--padding-lateral) * 2);
        backdrop-filter: blur(var(--blur-md));
        padding: 31px 28px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: var(--border-radius-sm);
        h3{
            text-align: start;
            font-size: 1.8rem;
        }

        p{
            font-size: 1.45rem;
            text-align: start;
        }

        :global(.button){
            position: absolute;
            right: 15px;
            bottom: 12px;
            height: 38px;
            width: 38px;
            --padding-vertical: 12px;
        }
    }

    @media screen and (width > $md) {
        padding: 0 50px;
        
        padding-bottom: 36px;
        gap: 38px !important;
        

        :global(.review-item){
            flex: 1 0 24.8%;
            padding: 12px;
                        

            img{
                inset: 0;

                position: absolute;
                object-fit: cover;
                width: 100%;
            }
            
            :global(.card){
                padding: 40px 50px 85px 34px;
                max-height: min(23rem, 40%);
                gap: 24px;

                :global(.button){
                    right: 17px;
                    bottom: 17px;
                    width: 52px;
                    height: 52px;
                    --padding-vertical: 16px;
                }

                h3{

                }

                p{
                    line-height: 1.6em;
                }
            }
            
            &:not(:global(.open)){

                :global(.card){
                    padding-top: 3rem;
                }
            }
        }
    }
}