
.loader{
    z-index: var(--layer-loader);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background: var(--color-black);
    font-size: 3.5em;
    transition: opacity var(--animation-speed-medium) ease-in-out, display var(--animation-speed-medium) ease-in-out;
    transition-behavior: allow-discrete;


    &:not(:global(.show)){
        display: none;
        opacity: 0;
    }
}

