@use '../../../../shared/styles/breakpoints' as *;

.section-5{
    height: 100%;
    width: 100%;
    padding: 88px 22px 37px;
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    overflow: hidden;

    :global(.title){
        font-weight: 100;

        padding: 0 7px;
        width: 100%;
        font-size: 2.6rem;
    }

    :global(.description){
        font-weight: 100;
        color: var(--color-white-alpha-60);
        padding: 0 7px;
        width: 100%;
        font-size: 1.4rem;
        max-width: 80%;
        
    }

    :global(.reviews-container){
        width: 100%;
        height: 100%;
        flex: 1;
        overflow: hidden;
    }

    @media screen and (width > $md) {
        padding-top: 18rem;
        gap: 0px;

        :global(.title){
            margin-bottom: 24px;
            h1{

                font-size: 10.5rem;
                font-weight: 400;
                line-height: 1em;
            }
        }

        :global(.description){
            font-size: 1.9rem;
            margin-bottom: 5rem;
        }
    }
}