@use '../../../../shared/styles/breakpoints' as *;

.section-1{

    z-index: 2;

    :global(.section-1-wrapper){

        --padding-side: 8px;

        position: relative;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-lg);
        overflow: hidden;
        padding: 10.8rem 8px 8px 8px;

        :global(.bg-wrapper){
            border-radius: inherit;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            video,img{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                z-index: 1;
                display: block;
            }
        }


        :global(.content){
            position: relative;
            pointer-events: none;
            height: 100%;
            align-items: center;
            z-index: 2;
            color: var(--color-white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;

            h1{
                font-size: 4.9rem;
                line-height: .86em;                
                font-weight: 100;
            }

            :global(.title){
                max-width: 80%;
            }

            :global(.card){
                backdrop-filter: blur(var(--blur-md));
                max-height: min(232px, 30dvh);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 32px;
                overflow: hidden;
                padding-bottom: 27px;                

                h3{
                    width: 100%;
                    text-align: start;
                    font-weight: 200;
                    padding-bottom: 20px;
                    font-size: 1.3em;
                }

                p{
                    text-align: start;
                    font-weight: 200;
                    font-family: var(--font-light);
                    font-size: .85em;
                    line-height: 1.4em;
                    padding-bottom: 14px;
                }

                
            }

            @media screen and (width > $md) {

                padding-top: 60px;
                padding-left: 68px;
                :global(.title){
                    max-width: unset;
                    width: 100%;
                    text-align: start;
                    h1{
                        width: 60%;
                        text-align: start;
                        font-size: 10rem;
                    }
                }
                
                :global(.card-container){
                    --padding-bottom: 32px;
                    height: calc(290px + var(--padding-bottom));
                    width: 100%;
                    display: flex;
                    padding-bottom: var(--padding-bottom);
                    padding-right: 22px;
                    justify-content: flex-end;
                    
                    
                    :global(.card){
                        padding-left: 32px;
                        padding-right: 32px;
                        padding-bottom: 36px;
                        padding-top: 40px;
                        min-height: 100%;
                        max-width: 507px;

                        h3{
                            padding: unset;
                            margin-bottom: 24px;
                            font-size: 2.6rem;
                        }

                        p{
                            font-size: 1.7rem;
                            padding: unset;
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }

        
    }
}