@use '../../styles/breakpoints' as *;

.view-section{
    --padding: 6px;

    height: 100dvh;
    width: 100dvw;
    overflow: hidden;    
    min-height: 100dvh;
    min-width: 100dvw;
    opacity: 0;
    top: 0;

    &:global(.padding){
        padding: var(--padding);
    }

    @media screen and (width > $md) {
        --padding: 16px;
        
    }
}