@use '../../../../shared/styles/breakpoints' as *;

.section-2{
    height: 100%;
    width: 100%;
    padding-top: 8.8rem;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: var(--color-green);
    align-items: center ;
    background-image: linear-gradient(to bottom, transparent 70%, var(--color-green-alpha-50));

    :global(.title){
        width: 80%;

        h1{
            font-weight: 100;
            font-size: 3em;
            color: var(--color-orange);
        }
    }

    :global(.description){
        width: 70%;
        
        p{
            font-weight: 100;
            color: var(--color-orange-alpha-50);
        }
    }

    :global(.feature-wrapper){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;

        span{
            color: var(--color-black);
        }
    }

    :global(.feature-item){
        border-radius: 50%;
        font-size: .7em;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border: solid 1px var(--color-green-alpha-50);

        :global(.icon-planet-nature){
            font-size: 1.4em;
        }
        
    }

    :global(.animated-container):has(:global(.spacer)){
        display: flex;
        flex-direction: column;
        :global(.spacer){
            flex: 1 0 1px;
            background-color: var(--color-green);
            width: 128px;
            
            margin: 4px 0;
        }
    }

    @media screen and (width > $md) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background-image: linear-gradient(to bottom, transparent 80%, var(--color-green-alpha-20));

        :global(.overview){
            color: var(--color-yellow-2);
            font-size: 1.9rem;
        }
        
        :global(.title){
            flex: 1 0 100%;
            h1{
                color: var(--color-yellow-2);
                font-weight: 400;
                font-size: 8rem;
            }

        }

        :global(.description){
            flex: 1 0 100%;
            justify-content: center;
            display: flex;
            margin-bottom: 4px;
            p{
                max-width: 15%;
                color: var(--color-black-alpha-70);
                font-weight: 400;
            }
        }

        :global(.spacer){            
            flex: 1 0 1px !important;
            min-height: 32px;
            width: 1px !important;
            
        }


        :global(.feature-wrapper){
            gap: 32px;
            flex-direction: row;                  
            
            :global(.feature-item){
                width: 80px;
                height: 80px;
                font-size: 1.5rem;
            }
        }
        :has(:global(.spacer)){
            margin: 0 32px;

        }

        :global(.title-container){
            display: inherit;
            gap: inherit;
            justify-content: inherit;
            align-items: inherit;
            flex-direction: inherit;
            flex: 1 0 100%;
            height: auto;
            flex-wrap: inherit;

        }
        
        :global(.features-list){
            display: inherit;
            gap: inherit;
            
        }
    }

}